@import "tailwindcss";

@theme {
  --color-green-light: #75C4A6;
  --color-background: #495672;
  --color-blue-light: #7CB4D6;
  --color-red-light: #C64755;
}

:root {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: #000;
}

main {
  background-color: #fff;
  width: 100vw;
  height: 100vh;
}